{% extends "base.twig" %}

{% block content %}
        <ul class="update-list">
            {% for post in posts %}
                <li>{{post.content}}</li>
            {% endfor %}
        </ul>
{% endblock %}