.view-all,
.read-more {
    @extend %button;
    margin-top: 1em;
    margin-bottom: 1em;

    &:after {
        @extend %tp-icon;
        content: "\e600";
        vertical-align: middle;
    }
}

.posttitle {
    text-align: center;
}

.category-pish .posttitle:before {
    @extend %tp-icon;
    content: "\e61c";
}

// Profile links

.dev-share-buttons-link {
    @extend %tp-icon;
    text-decoration: none;
    font-size: ms(1, $font-size) * 1em;
}

.dev-share-buttons-link--twitter {
    @extend .dev-share-buttons-link;
    @extend .icon-social-twitter;
}

.dev-share-buttons-link--facebook {
    @extend .dev-share-buttons-link;
    @extend .icon-social-facebook;
}

.dev-share-buttons-link__text {
    @extend %scut-hide-visually;
}